<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<% if @user.avatar.present? %>
  <p>
    <%= image_tag @user.avatar.url, alt: "ユーザーのアバター画像" %>
  </p>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
